In [9]:
$pip install yfinance
import os 
import yfinance as yf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

dataset_train=pd.read_csv(r"C:\Users\Ankita\Downloads\Google_Stock_Price_Train.csv")
dataset_train.head()

         Date    Open    High     Low   Close       Volume
0  01-03-2012  325.25  332.83  324.97  663.59    73,80,500
1  01-04-2012  331.27  333.87  329.08  666.45    57,49,400
2  01-05-2012  329.83  330.75  326.89  657.21    65,90,300
3  01-06-2012  328.34  328.77  323.68  648.24    54,05,900
4  01-09-2012  322.04  322.29  309.46  620.76  1,16,88,800

In [4]:
training_set=dataset_train.iloc[:,1:2].values
print(training_set)
print(training_set.shape)

[[325.25]
 [331.27]
 [329.83]
 ...
 [793.7 ]
 [783.33]
 [782.75]]
(1258, 1)

In [7]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler(feature_range=(0,1))
scaled_training_set=scaler.fit_transform(training_set)
scaled_training_set

array([[0.08581368],
       [0.09701243],
       [0.09433366],
       ...,
       [0.95725128],
       [0.93796041],
       [0.93688146]])